body {
    background: white;
    
}

a {
 color: rgb(13, 119, 168);
 text-decoration-line: none;
}

p, ul, ol{
   
    font: 3em;
}

mark {
    background-color: rgb(204, 204, 204);
}


h1 {
    font-size: 4em;
    color: rgb(3, 78, 97)
}

h2 {
    font-size: 2em;
    color: rgb(3, 78, 97);
}

ul li {
    list-style-type: square;
}

.text {
   
}